# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter checkpoints
.ipynb_checkpoints/

# Virtual envs
.venv/
env/
venv/

# dotenv
.env

# macOS
.DS_Store

# Logs and databases
*.log
*.sqlite3

# VSCode settings (if you use it)
.vscode/